.header {
  background-color: #202429b6;

  .navbar {
    .ma {
      color: #178bf8de;
      font-size: 20px;
      padding: 0;
      margin: 0 auto 0 0;
      font-weight: bold;
      &:hover {
        color: #178bf8de;
      }
      span {
        color: #00dbdb;
        font-size: 30px;
        font-weight: bold;
      }
    }

    .header-links {
      .nav-link {
        &:hover {
          color: $color-main-soft !important;
        }
      }

      .active {
        color: white !important;
      }
      // .login-item{
      // }
      // .signup-item{
      // }
      // .google-item{
      // }
      // .theme-item{
      // }
    }

   
  }


  @media (max-width: 768px) {
    .navbar {
      padding-left: 5px;
      padding-right: 5px;
      .ma {
        font-size: 14px;

        a {
          text-decoration: none;
          &:hover {
            color: #007bff !important ;
          }
          span {
            font-size: 20px;
          }
        }
      }

      .header-links {
        .nav-link {
          padding-left: 5px;
          padding-right: 5px;
          font-size: 14px;
          &:hover {
          }
        }

        .active {
        }

        // .profile-item{
        //     font-size: 12px;
        // }
        // .signup-item{
        // }
        // .google-item{
        // }
        // .theme-item{
        // }
      }
    }
  }

}
