.header {
  background-color: #202429b6;

  .navbar {


    .ma {
      color: #178bf8de;
      font-size: 20px;
      padding: 0;
      margin: 0 auto 0 0;
      font-weight: bold;
    
      a{
        text-decoration: none;
        img{
          height: auto;
          width: 80px;
          margin: -15px 0;
        }
      }
     
    }

    .header-links {
      .nav-link {
        color: blue;
        &:hover {
          color: $color-main-soft !important;
        }
      }

      .active {
        color: white !important;
      }
      // .login-item{
      // }
      // .signup-item{
      // }
      // .google-item{
      // }
      // .theme-item{
      // }
    }

   
  }


}
