.not-auth{


 .message-container{
    margin-top: 50px;

    .not-auth-message{
        font-size: 40px;
        font-weight: bold;
        font-family: 'Times New Roman', Times, serif;
        text-transform: uppercase;
        padding: 50px 30px 50px 30px;
        background-color: $color-header-darker;
        border-radius:10px;

    }
 }
}