
.signup{


    .signup-heading{
        margin-top: 30px;
        background-color: #8080806c ;     
        border-radius: 20px ;
        width: 70%;
        .headings{
         margin: 0;
         padding: 10px  10px;
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         border-radius: 10px;
        }
    }

    .signup-container{
            background-color: $color-header-dark;
            padding: 30px 30px 30px 30px;
            margin-top: 20px;
            border-radius: 10px;    

            .have-account{
              p{
                a{
                  text-decoration: none;
                  &:hover{
                    color: darken($color:  $color-white, $amount: 20%);
                  }
                }
              }
            }

            .google-btn {
                width: 184px;
                height: 42px;
                background-color: $google-blue;
                border-radius: 2px;
                box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
                cursor: pointer;

                .google-icon-wrapper {
                  position: absolute;
                  margin-top: 1px;
                  margin-left: 1px;
                  width: 40px;
                  height: 40px;
                  border-radius: 2px;
                  background-color: $white;
                }
                .google-icon {
                  position: absolute;
                  margin-top: 11px;
                  margin-left: 11px;
                  width: 18px;
                  height: 18px;
                }
                .btn-text {
                  float: right;
                  margin: 11px 11px 0 0;
                  color: $white;
                  font-size: 14px;
                  letter-spacing: 0.2px;
                  font-family: "Roboto";
                }
                &:hover {
                  box-shadow: 0 0 6px $google-blue;
                }
                &:active {
                  background: $button-active-blue;
                }
              }


              .separator {
                display: flex;
                align-items: center;
                text-align: center;

                
                &:before,
               &:after {
                  content: '';
                  flex: 1;
                  border-bottom: 1px solid #979797;
                }
                
                &:not(:empty) {
                    &:before{
                        margin-right: .25em;
                    }
               
                }
                
                &:not(:empty){
                    &:after {
                        margin-left: .25em;
                    }
                }
              }
              
             

            form{
                .mamovie-button{
                    &:hover{
                        color: $color-main !important;
                    }
                }
            }

    }



   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    .signup-response{

        .success-or-failure{
            display: inline-block;
            margin-top: 5px;
            h4{
                display: inline-block;
                padding: 10px 10px;
                border-radius: 10px;
                white-space: nowrap;
            }
            .signup-success{
            }
            .signup-failure{
            }
        }

        .overlay {

            ._loading_overlay_wrapper--active {
                position: fixed;
                top: 0;
                left: 0;
                background-color: #0000008a;
                width: 100%;
                height: 100%;
                z-index: 5;
                opacity: 0.5;
            }
          

        }
    }

    
}