.new-password{

    height: 70vh;

    .form-row{

        .form-col{

            form{

                padding: 30px;
                background-color: $color-header-dark;
                border-radius: 10px;
                
                button{
                    &:hover{
                        color: darken($color: $color-white, $amount: 30%);
                    }
                }
            }
        }
    }
}