.login{
    


  .login-heading{
    margin-top: 30px;
    background-color: #8080806c ;
        
    border-radius: 20px ;
    width: 70%;
    .headings{
     margin: 0;
     padding: 10px 10px;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     border-radius: 10px;
    }
 }


.form-container{

    background-color: $color-header-dark;
    padding: 30px;
    margin-top: 20px;
    border-radius: 10px;

            form{

              .password-wrapper{
                .password-col {

                  a{
                      text-decoration: none;
                      color: darken($color: $color-white, $amount: 30%);
                      transition: all 0.5s linear;
                      &:hover{
                        color:darken($color: $color-white, $amount: 10%);
                      }
                  }
                }
              }
                
                button{
                    margin-top: 20px;
                  
                        &:hover{
                            color: $color-main !important;
                        }
                    
                }

            }

}
.response-state{

    
    .overlay{

        ._loading_overlay_wrapper--active{
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            background-color: #000000a1;
            opacity: 0.5;
        }

    }

    .login-state-message-wrapper{

      display: inline-block;
      margin-top: 10px;

        h4{
            
            display: inline-block;
            padding: 10px;
            border-radius: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }
      

    }

}

}