.profile{
   .data {
    .profile-data{
        margin-top: 40px;
        padding: 40px;
        background-color: $color-header-dark;
        border-radius: 10px;
    }
    button{
        color: white !important ;
        &:hover{
            color: darken($color: white, $amount: 20%) !important;
        }
    }
    #delete-modal{
        .modal-content{
            .modal-header{
                h5{
                    font-size: 22px;
                    font-weight: bold;
                }
            }
            .modal-body{

            }
            .modal-footer{

            }
        }
    }
   }



    @media (max-width:768px) {
        .appText{
            font-size: 20px;
        }
    
    }

}



