.profile{
   .data {
    .profile-data{
        margin-top: 40px;
        padding: 20px;
        // padding-right: ;
        background-color: $color-header-dark;
        border-radius: 10px;
        label{
            
        }
        h3{
            
        }
    }
    button{
        color: white !important ;
        &:hover{
            color: darken($color: white, $amount: 20%) !important;
        }
    }
    #delete-modal{
        .modal-content{
            .modal-header{
                h5{
                    font-size: 22px;
                    font-weight: bold;
                }
            }
            .modal-body{

            }
            .modal-footer{

            }
        }
    }
   }




}



