.recover{

    margin: 50px;

        .form-wrapper{
                      
            padding: 10px 0px 10px 0px;
            form{
                padding: 50px 30px 50px 30px !important;
              
                background-color:  $color-header-dark;
                border-radius: 10px;

                label{
                    font-size: 14px;
                    color: $color-main;
                }
                button{

                    &:hover{

                        color: darken($color: $color-white, $amount: 30%);
                    }
                }
            }
        }

    
}