

.movie {

  .data-video-container{
    
    .first-row {
      display: flex;
      padding: 20px 10px 0;
    
      .image-col{
          
          .poster-image {
            margin-bottom: 0;
            width: 100%;
            height: 90%;
            border-radius: 10px;
            border: 1px solid #ffffff54;
          }

          
          .icons-wrapper{
            
            .icon-saved-wrapper{
              .saved{
                &:hover{
                  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
                svg{
                  @extend %svg;
                  color: $color-saved-green;
                  &:hover {
                    cursor: pointer;
                           }
                }
              }
              .check-saved{
               
                svg{
                  position: absolute ;
                  top: 15px;
                  left: 30px;
                  color: darken($color: white, $amount: 10%);
                  &:hover{
                    cursor: pointer;
                  }
                }
              }
              
            }
            .icon-unsaved-wrapper{
              svg{
                @extend %svg;
                color: darken($color:  $color-main, $amount: 10%);
                opacity: 0.9;
                &:hover{
                  color: lighten($color: $color-main, $amount: 10%);
                  cursor: pointer;
                }
              }
              
            }

            %svg{
              position: absolute ;
              top: 0px;
              left: 15px;
              opacity: 0.9;
            }
          }
          

  
      }

      .movie-meta {
        align-self: center;
        border-radius: 25px;
        .movie-name-row {
          padding: 10px 10px 10px 0;
          h1{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: white;
          
          }

        }

  
        @media (max-width:992px) {
           .movie-name-row {
              margin-top: 20px;
             }

        }

        .movie-year-row {
              margin-top: 10px;
            h3{
              
              font-size: 35px;
              color: $color-main-vague
              
            }
        }
  
          .movie-genre-row {
            span {
              margin-top: 20px;
                 p {
                   color: white;
                 }
  
            }
          }
  
        .rating-row{
               display: flex;
                  margin-top: 20px;
  
             .rating-col {
              padding-left: 15px;  
             .rate-val {
              margin-right: 5px;
              font-size: 1rem;
              color: $colo-secondary;
             .val {
              font-size: 22px;
              color: white;
              font-weight: bold;
              margin-left: 10px;
                  }
             .out-of {
              font-size: 16px;
              color: white;
              font-weight: bold;
                 }
           }
        }
          .rate-star {
             
              align-self: center;
           
            .checked {
               color: yellow;
               align-content: center;
            }
            .gray{
               color: rgb(126, 126, 126);
            }
          }
  
        }

        @media (max-width:576px) {
          .rating-row{ 
               
            .val {
              font-size: 18px;
            
                  }
           }
        }
  
        
          .overview-row{
            margin-top: 20px;
             h6 {
               font-size: 20px;
              color: $color-main-vague;
               }
             p {
            color: white;
            line-height: 2;
            font-size: 18px;
           width: 100%;
              }
          }
  
        
        
      }
      
      @media (max-width:992px) {
        .movie-meta{
          margin-top: 10px;
        }
      }
      
      
    }
  
    .video-row{
      margin-top: 40px;
      margin-bottom: 40px;
      padding-right: 5%;
      padding-left: 5%;

      .video-heading-col{
        
          border-radius: 20px ;
          .video-heading{
            margin: 0;
            padding: 5px 0 5px 0;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }
        
      }
          .video{
            margin-top: 5px;
            margin-bottom: 5px;
            border-radius: 10px;
          }

          

      }
  }

   
      .cast-title{
          font-size: 24px;
          color: $colo-secondary;
          margin-bottom: 20px;
      }
  
      
        

        .cast-and-footer{


          .cast-col{

            .cast-row-heading{
              margin: 20px;
              border-radius: 20px ;
              .cast-heading{
                margin: 0;
                padding: 5px 0 5px 0;
                
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            }
            }
           

            .cast-row {
              .cast-card{
                

                .cast-image {
                  width: 4%;
                  height: auto;
                }
            
                .cast-name {
                    font-size: 18px;
                    color: white;
                    font-weight: bold;
                    font-family: 'Times New Roman', Times, serif;
                    margin: 0 30px 0 30px ;
                }
                .cast-as{
                    font-size: 14px;
                    color: $colo-secondary;
                }
                .cast-role {
                      font-size: 18px;
                    color: white;
                    font-family: 'Times New Roman', Times, serif;
                    margin-left: 30px;
                }

              }
             
            }

          }


          .footer-col{
            .full-cast-row {
              padding: 10px 0;
              margin-top: 10px;
                 .fullCast{
                   a{
                     font-size:20px;
                     color: white;
                     padding-right: 10px;
                   }
                 }
              }
          }
       
      
        }

  

  }