$color-header-dark:#202429b6;
$color-header-darker:#202429f5;
$color-main:#00dbdb;
$color-dark:#136e6ed0;
$color-white: white;
$color-main-vague:#00dbdb;  
$color-main-soft:#029e9eab;
$colo-secondary:#0361b8de;
$color-soft-text : #000000;
$white: #fff;
$google-blue: #4285f4;
$google-blue-transparent: #4286f4b2;
$button-active-blue: #1669F2;
$color-dark:#000000d0;
$color-saved-green : #206e20;

//google font
@import url(https://fonts.googleapis.com/css?family=Roboto:500);

@keyframes textAnimate {
   0% {
        margin-right: 200px
    }
    100% {
        margin-right: 0
    }
}

%animate-inward-side {
    margin-right: 0;
    animation-name: textAnimate;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }


@import 'index.scss';
@import './components/container/header.scss';
@import './home/home.scss';
@import './browse/browse.scss';
@import './movieDetails/movie_details.scss';
@import './components/functional/movieCard.scss';
@import './notAuthorised//notAuthorised.scss';
@import './signup/signup.scss';
@import './profile/profile.scss';
@import './login/login.scss';
@import './components/container/footer.scss';
@import './watchlist/watchlist.scss';
@import './recoverPassword/recoverPassword.scss';


@import './queries.scss';

