


$color-header-dark:#202429b6;
$color-header-darker:#202429f5;
$color-main:#00dbdb;
$color-dark:#136e6ed0;
$color-main-vague:#00dbdb;  
$color-main-soft:#029e9eab;
$colo-secondary:#0361b8de;
$color-soft-text : #000000;

@import 'index.scss';
@import './components/container/header.scss';
@import './home/home.scss';
@import './browse/browse.scss';
@import './movieDetails/movie_details.scss';
@import './components/functional/movieCard.scss';
@import './notAuthorised//notAuthorised.scss';
@import './signup/signup.scss';
@import './profile/profile.scss';
@import './login/login.scss';
@import './components/container/footer.scss';


